
<% cache do %>
  <% sleep 2 %>
<h1>Contact Us</h1>
<% end %>

<%= flash[:notice] %>

<%= form_with(url: "/static_pages/thank_you", method: 'post', local: true) do |form| %>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="form-group">
				<%= form.label :name %>
				<%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
			</div>        
			<div class="form-group">
				<%= form.label :email, "Email Address" %>
				<%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
			</div>
			<div class="form-group">
				<%= form.label :message %>
				<%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: "10" %>
			</div>        
		</div><!-- END columns -->
	</div><!-- END row -->
	<%= form.submit "Send", class: 'btn' %>   
<% end %>

<hr>