<div class="container-fluid">
<p id="notice"><%= notice %></p>
<picture><%= image_tag(@product.image_url, class: "img-responsive") %></picture><br>
</div><!-- end container-fluid -->
<p>
	<strong>Name:</strong>
	<%= @product.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @product.description %>
</p>

<p>
	<strong>Image url:</strong>
	<%= @product.image_url %>
</p>

<p>
	<strong>Colour:</strong>
	<%= @product.colour %>
</p>

<p>
	<strong>Price: €</strong>
	<%= @product.price %>
</p><br>

<p>
	<strong>Average Rating:</strong>
	<div class="rated" data-score="<%= @product.average_rating %>"></div>
</p><br>

<div>
	<%= form_tag "/payments/create" do %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: 'shared/stripe_checkout_button' %>
     <% end %>   
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<hr>
<%= render 'new_comment' %>
<%= render 'comments' %>
<hr>
