<p id="notice"><%= notice %></p>
<div class="container-fluid">
<picture><%= image_tag(@product.image_url, class: "img-responsive") %></picture>
</div>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
    <%= f.label :body, "Comments" %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <div class="rating"></div>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<hr>
<%= @product.highest_rating_comment %>
<%= render 'new_comment' %>
<%= render 'comments' %>
<hr>
