<div class="container-fluid">
<p id="notice"><%= notice %></p>
<picture><%= image_tag(@product.image_url, class: "img-responsive") %></picture>
</div><!-- end container-fluid -->
<p>
	<strong>Name:</strong>
	<%= @product.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @product.description %>
</p>

<p>
	<strong>Image url:</strong>
	<%= @product.image_url %>
</p>

<p>
	<strong>Colour:</strong>
	<%= @product.colour %>
</p>

<p>
	<strong>Price:</strong>
	<%= @product.price %>
</p>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<hr>
<%= @product.highest_rating_comment %>
<%= render 'new_comment' %>
<%= render 'comments' %>
<hr>
